name: Page Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-radar:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Install dependencies
      working-directory: ./tech-radar
      run: |
        npm ci
        npm audit

    - name: Setup snyk
      uses: snyk/actions/setup@0.4.0

    - name: Snyk scan
      working-directory: ./tech-radar
      run: |
        snyk test --all-projects
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }} 

    - name: Generate radar image
      working-directory: ./tech-radar
      run: npm run generate

    - name: Upload radar image
      uses: actions/upload-artifact@v4
      with:
        name: aice-tech-radar
        path: tech-radar/dist

  build-pages:
    needs: build-radar
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3'
        bundler-cache: true

    - name: Install dependencies
      working-directory: ./documentation
      run: |
        bundle install

    - name: Setup snyk
      uses: snyk/actions/setup@0.4.0

    - name: Snyk scan
      working-directory: ./documentation
      run: |
        snyk test --all-projects
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }} 

    - name: Build site
      working-directory: ./documentation
      run: |
        bundle exec jekyll build

    - name: Download radar image
      uses: actions/download-artifact@v4
      with:
        name: aice-tech-radar
        path: tech-radar/dist

    - name: Copy radar image to site
      run: |
        mkdir -p documentation/_site/tech-radar/attachments
        cp tech-radar/dist/radar.svg documentation/_site/tech-radar/attachments/aice-tech-radar.svg

    - name: Upload artifacts
      if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
      uses: actions/upload-pages-artifact@v3
      with:
        path: documentation/_site

  deploy:
    needs: build-pages

    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.output.page_url }}

    runs-on: ubuntu-latest
    steps:

    - uses: actions/deploy-pages@v4
      id: deployment
